body {
    background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
}

.content {
	padding: 0px 15px;
	box-sizing: border-box;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation img {
	height: 70px;
}

.top-navigation .links {
	float:right;
	list-style-type: none;
}

.links > li {
	display: inline-block;
}


