body {
    background-color: LightGray;
    font-size: 100%;
}
div {
	border: 1px solid Chocolate;
}

.content {
	padding: 0px 15px;
	box-sizing: border-box;

}
/* Navigation Section */
.top-navigation {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation img {
	height: 70px;
	width: 26px;
}

.top-navigation .links {
	float:right;
	list-style-type: none;
}

.links > li {
	display: inline-block;
	padding-top: 0.5em;
	margin-left: 1em;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}


